@media only screen and (max-width:1200px){
    .content-section{
        position: fixed;
        top: 50%;
    left: 50%;
    transform: translate(15%, -50%);
        background-color: var(--primary);
        padding: 30px 30px;
        width: 40%;
       
    }
}

@media only screen and (max-width:991px){
    .content-section{
        position: relative;
        top:unset;
    left: unset;
    transform: unset;
        background-color: var(--primary);
        padding: 30px 30px;
        width: 100%;
       margin-bottom: 50px;
       margin-top: 50px;
       
    }
    .form-col{
        padding: 0px 15px !important;
    }
    .modal-dialog{
        max-width: 60%;
      }
      
.form{
    min-height: fit-content;
    
  }
  .form-col{
  min-height: fit-content;
  }
}
@media only screen and (max-width:569px){
  
    .modal-dialog{
        max-width: 100%;
      }
}